root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

[*.{swift,m,h,mm,c,cpp}]
indent_style = space
indent_size = 4

[*.{yml,yaml,json,xcstrings,storekit,entitlements,plist}]
indent_style = space
indent_size = 2

[Makefile]
indent_style = tab

[*.md]
trim_trailing_whitespace = false
